/* Kommentar Cmd+Shift+7 */

* {
  box-sizing: border-box;
  background-color: var(--c1);
}

:root {
  --c1: #abc498;
  --c2: #93a680;
  --c3: #ccd9ce;
  --c4: #5c7358;
  --c5: #2d3935;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: lighter;
  color: mintcream;
  line-height: 1.4;
  margin: 0;
}

input,
button,
textarea {
  font-size: inherit;
}

.main-header {
  background-color: var(--c5);
  text-align: center;
}

.page-main {
  display: grid;
  grid-gap: 40px;
}

.button {
  background-color: var(--c5);
  border-bottom: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.2px;
  color: var(--c3);
  padding: 2px 10px;
  text-decoration: none;
}

.image-fluid {
  width: 100%;
  height: auto;
}

.some-logos {
  width: 50px;
}

nav {
  background-color: var(--c4);
  padding: 5px;
}

h1 {
  background-color: var(--c5);
  color: mintcream;
  font-style: bold;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
}

h2 {
  background-color: var(--c5);
  color: mintcream;
  margin: 0;
  padding: 0 0 0 20px;
}

p {
  margin: 0;
  padding: 0 0 0 20px;
}

#pic {
  margin: 0;
  width: 375px;
}
