* {
  margin: 0;
  background-color: var(--c1);
  box-sizing: border-box;
  color: mintcream;
  font-family: 'Ubuntu';
  line-height: 1.8;
  max-width: 550px;
  padding-bottom: 25px;
}

:root {
  --c1: #151515;
  --c2: #d1ed5d;
  --c3: #aacd17;
}
