.w-100 {
  width: 100;
}

.m-0 {
  margin: 0;
}

.my-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-10 {
  padding-left: 10px;
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.borderlines-tb {
  border-top: 3px solid var(--c2);
  border-bottom: 3px solid var(--c2);
}
