@import './_base.css';
@import './_fonts.css';

html {
  width: 100%;
}

nav {
  padding-bottom: 40px;
  padding-left: 5px;
}

body {
  color: mintcream;
  margin: 0 25px 0 25px;
  display: flexbox;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--c3);
  margin: 0;
}

h2 {
  font-weight: 500;
  color: var(--c3);
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}

h3 {
  padding-left: 5px;
  margin-top: 0;
}

p {
  padding-left: 10px;
  margin: 0;
}

small {
  font-style: italic;
  margin: 0;
  padding-left: 5px;
}

strong {
  font-style: normal;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}

a {
  color: var(--c2);
}

.pic {
  display: block;
  max-width: 375px;
  width: 100%;
  height: auto;
  border-top: 3px solid var(--c2);
  border-bottom: 3px solid var(--c2);
}

dt {
  font-weight: 700;
  color: var(--c3);
  padding-left: 10px;
}

dd {
  font-style: italic;
  margin: 0;
  padding-left: 10px;
}

address {
  padding-left: 10px;
  font-style: normal;
}

.hello-text {
  color: mintcream;
  font-style: italic;
  padding-top: 30px;
}

.some-icons {
  width: 60px;
  border: 3px solid var(--c2);
  border-radius: 50px;
}

.some-links {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-right: 35px;
}

.button {
  background-color: mintcream;
  color: var(--c1);
  padding: 2px;
}
